<div class="new-recipe">
  <div class="hero-image">
    <div class="hero-text">
      <h1>Edit recipe</h1>
    </div>
  </div>
</div>
<div class="container">
  <%= render 'recipes/form', recipe: @recipe %>
</div>
