<%# <div class="hero position-relative d-flex align-items-center justify-content-center">
  <img
    src="https://raw.githubusercontent.com/do-community/react_rails_recipe/master/app/assets/images/Sammy_Meal.jpg"
    alt="recipe image"
    class="img-fluid position-absolute"
  />
  <div class="overlay bg-dark position-absolute">
    <h1 class="display-4 position-relative text-white">
      Create your recipe
    </h1>
  </div>
</div> %>
<div class="new-recipe">
  <div class="hero-image">
    <div class="hero-text">
      <h1 class="display-4 position-relative text-white">Create your recipe</h1>
    </div>
  </div>
</div>
<div class="container">
  <%= render 'recipes/form', recipe: @recipe %>
</div>
